---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import { link } from "@nextui-org/react";
import { Icon } from "astro-icon";

const features = [
  {
    title: "CBX 220V (CBX2)",
    manual: [
      {
        title: "Manual de Instalacion",
        link: "/pdf/CBX2_Manual_.pdf",
      },
      {
        title: "Manual de Servicio",
        link: "/pdf/CBX2_Manual_Servicio.pdf",
      },
    ],
    icon: "mdi:link",
    color: "blue",
  },
  {
    title: "CBX Multivoltaje (CBX3)",
    manual: [
    {
        title: "Folleto",
        link: "/pdf/CatalogoCBX3.2024V1.1.pdf",
      },
    {
        title: "Manual de Instalacion",
        link: "/pdf/CBX3_Manual_Propietario_V1.2.pdf",
      },
      {
        title: "Manual de Servicio",
        link: "/pdf/CBX3_Manual_Servicio_V1.4.pdf",
      },
    ],
    icon: "mdi:link",
    color: "blue",
  },
  {
    title: "Termotronic (W4)",
    manual: [
    {
        title: "Folleto",
        link: "/pdf/CatalogoW4.2024V1.0.pdf",
      },
   {
        title: "Manual de Instalacion",
        link: "/pdf/W4_Manual_Termotronic.pdf",
      },
      {
        title: "Manual de Servicio",
        link: "/pdf/W4_Manual_Servicio_Termotronic_CE-11W4_V1.1.pdf",
      },
    ],
    icon: "ic:link",
    color: "blue",
  },
  {
    title: "KIT de instalación",
    manual: [
      {
        title: "Folleto",
        link: "/pdf/CalatoloCE-KP2024V1.0.pdf",
      },
    ],
    icon: "ic:link",
    color: "blue", 
  },
];
---

<Layout title="Manuales Termotronic y CBX Folletos y catalogos" description="Catálogos, Folletos, Manuales de instalación y Servicio para Termotronic y CBX">
  <Container>
    <div class="mt-16 md:mt-0 max-w-screen-md mx-auto">
      <h2 class="text-3xl font-bold lg:tracking-tight mt-2">
        Manuales
      </h2>
    </div>

    <!-- grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16 max-w-screen-2xl mx-auto -->
    <div
      class="flex flex-col sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16 max-w-screen-md mx-auto borrder">
      <!-- <Features client:load /> -->
      {
        features.map((item) => (
          <div class="flex flex-col">
            <div class="flex gap-4  items-start">
              <div>
                <h3 class="text-2xl lg:text-2xl font-bold lg:tracking-tight mb-2">{item.title}</h3>
              </div>
            </div>
            {
              item.manual.map((manual) => (
                <a href={manual.link}>
                  <div class="flex gap-4 rounded-lg border p-8 border-black shadow-2xl items-start bg-gray-100 hover:-translate-y-1 translate mb-2">
                    <div class={`mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0 `}>
                      <Icon class={`text-${item.color}-300`} name={item.icon} />
                    </div>
                    <div>
                      <h3 class="font-semibold text-lg">{manual.title}</h3>
                    </div>
                  </div>
                </a>
              ))
            }
          </div>
        ))
      }
    </div>
  </Container>
</Layout>
