---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Ecológico",
    description:
      "Comprometidos con el planeta diseñamos y fabricamos con materiales 100% reciclables. Cuida el medio ambiente mientras ahorras energía con nuestro diseño ecológico.",
    icon: "mdi:plant-outline",
    color: "green",
    link: "/verde",
  },
  {
    title: "Agua caliente sin límite",
    description:
      "Disfrute de toda el agua caliente que necesite, con Termotronic nunca faltará agua caliente.",
    icon: "mdi:water",
    color: "blue",
    link: "/products/termotronic",
  },
  {
    title: "Ahorro de espacio",
    description:
      "Los Termotronic no tienen tanque, eso lo convierte en un calentador de agua de reducido tamaño.",
    icon: "ic:round-space-dashboard",
    color: "gray",
    link: "/products/termotronic",
  },
  {
    title: "Ahorro de electricidad",
    description:
      "Termotronic solo calienta el agua que usted va a utilizar, permaneciendo apagado hasta que se abra el agua caliente.",
    icon: "mdi:electricity",
    color: "cyan",
    link: "/products/termotronic",
  },
  {
    title: "Agua caliente instantánea",
    description:
      "Con Termotronic al regresar el agua, simplemente se abre una llave y se disfruta de agua caliente sin tener que esperar.",
    icon: "uil:fast-mail",
    color: "red",
    link: "/products/termotronic",
  },
  {
    title: "Duradero y confiable",
    description:
      "Construido para durar y con calidad que puede sentir en cada baño. Con los mejores materiales y el mejor diseño aseguramos años de agua caliente sin preocupaciones.",
    icon: "mdi:crown",
    color: "yellow",
    link: "/products/termotronic",
  },
];
---

<div class="mt-16 md:mt-0 max-w-screen-2xl mx-auto">
  <h2 class="text-3xl lg:text-3xl font-bold lg:tracking-tight text-center">
    Todo lo que necesitas saber de un termotronic.
  </h2>
</div>

<!-- grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16 max-w-screen-2xl mx-auto -->
<div
  class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16 max-w-screen-2xl mx-auto borrder">
  <!-- <Features client:load /> -->
  {
    features.map((item) => (
      <a href={item.link}>
        <div class="flex gap-4 rounded-lg border p-8 border-black shadow-2xl items-start bg-gray-100 hover:-translate-y-1 translate">
          <div class={`mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0 `}>
            <Icon class={`text-${item.color}-300`} name={item.icon} />
          </div>
          <div>
            <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
            <p class="text-slate-500 mt-2 leading-relaxed">
              {item.description}
            </p>
          </div>
        </div>
      </a>
    ))
  }
</div>
